<%= form_with(model: social_group, local: true) do |form| %>
  <% if social_group.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(social_group.errors.count, "error") %> prohibited this social_group from being saved:</h2>

      <ul>
        <% social_group.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.text_field :user_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
