<%= form_with(model: mass_booking, local: true) do |form| %>
  <% if mass_booking.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(mass_booking.errors.count, "error") %> prohibited this mass_booking from being saved:</h2>

      <ul>
        <% mass_booking.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :booking_type %>
    <%= form.text_field :booking_type %>
  </div>

  <div class="field">
    <%= form.label :location %>
    <%= form.text_field :location %>
  </div>

  <div class="field">
    <%= form.label :purpose %>
    <%= form.text_field :purpose %>
  </div>

  <div class="field">
    <%= form.label :duration %>
    <%= form.datetime_select :duration %>
  </div>

  <div class="field">
    <%= form.label :starts_at %>
    <%= form.datetime_select :starts_at %>
  </div>

  <div class="field">
    <%= form.label :ends_at %>
    <%= form.datetime_select :ends_at %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
