<%= form_with(model: society, local: true) do |form| %>
  <% if society.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(society.errors.count, "error") %> prohibited this society from being saved:</h2>

      <ul>
        <% society.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :meeting_day %>
    <%= form.text_field :meeting_day %>
  </div>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.text_field :user_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
