<p id="notice"><%= notice %></p>

<h1>Umbrella Bodies</h1>

<table>
  <thead>
    <tr>
      <th>Img</th>
      <th>Aim</th>
      <th>Executives</th>
      <th>Meeting day</th>
      <th>Parton saint</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @umbrella_bodies.each do |umbrella_body| %>
      <tr>
        <td><%= umbrella_body.img %></td>
        <td><%= umbrella_body.aim %></td>
        <td><%= umbrella_body.executives %></td>
        <td><%= umbrella_body.meeting_day %></td>
        <td><%= umbrella_body.parton_saint %></td>
        <td><%= link_to 'Show', umbrella_body %></td>
        <td><%= link_to 'Edit', edit_umbrella_body_path(umbrella_body) %></td>
        <td><%= link_to 'Destroy', umbrella_body, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Umbrella Body', new_umbrella_body_path %>
