<p id="notice"><%= notice %></p>

<p>
  <strong>Img:</strong>
  <%= @umbrella_body.img %>
</p>

<p>
  <strong>Aim:</strong>
  <%= @umbrella_body.aim %>
</p>

<p>
  <strong>Executives:</strong>
  <%= @umbrella_body.executives %>
</p>

<p>
  <strong>Meeting day:</strong>
  <%= @umbrella_body.meeting_day %>
</p>

<p>
  <strong>Parton saint:</strong>
  <%= @umbrella_body.parton_saint %>
</p>

<%= link_to 'Edit', edit_umbrella_body_path(@umbrella_body) %> |
<%= link_to 'Back', umbrella_bodies_path %>
